@use "variables" as *;

/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    background-color: $code-bg-color;
    min-height: 56px;
    position: relative;
}

.site-title {
    font-family: $heading-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 1px;
    margin-bottom: 0;
    display: block;
    text-align: center;

    &,
    &:visited {
        color: $text-color;
    }

    &:hover {
        text-decoration: none;
        color: $brand-color;
    }
}

.site-nav {
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-size: 15px;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        &:not(:first-child) {
            margin-left: 24px;
        }

        &:hover {
            color: $brand-color;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            text-transform: none;
            letter-spacing: 0;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Homepage hero
 */
.home-hero {
    display: flex;
    align-items: flex-start;
    gap: $spacing-unit;
    margin-bottom: $spacing-unit;

    @include media-query($on-laptop) {
        flex-direction: column;
        align-items: center;
    }
}

.home-hero-image {
    flex: 0 0 45%;
    max-width: 45%;

    img {
        width: 100%;
        border: 1px solid $grey-color-light;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    @include media-query($on-laptop) {
        flex: none;
        max-width: 80%;
    }
}

.home-hero-text {
    flex: 1;
    padding-top: $spacing-unit / 2;

    h2 {
        font-family: $heading-font-family;
        font-size: 28px;
        margin-bottom: $spacing-unit / 2;
        color: $brand-color;
    }

    p {
        font-size: 17px;
        line-height: 1.6;
    }

    @include media-query($on-laptop) {
        padding-top: 0;
    }
}

.caption {
	font-size: $base-font-size * 0.8;
    color: $grey-color;
	margin-bottom: 0px;
    margin-top: 4px;
}

ul.home-links {
	float: left;
	list-style: none;
	margin-left: $spacing-unit / 2;

	> li {
		border-bottom: 1px solid $grey-color-light;
	}

	> li:last-child {
		border: none;
	}

	@include media-query($on-laptop) {
		float: none;
		margin-left: 0px;
	}
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding-bottom: $spacing-unit / 2;
        border-bottom: 1px $grey-color-light solid;
    }

    > li:last-child {
    	border: none;
    }

    > li.bio-post {
        border: 1px solid $grey-color-light;
    }

    a.post-link {
    	color: $text-color;

        &:hover {
            color: $brand-color;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-family: $heading-font-family;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.1;
    color: $text-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    img {
        border: 1px solid $grey-color-light;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 2px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.bio-post {
	@extend %clearfix;
    border: 1px solid $grey-color-light;
    border-radius: 4px;
    padding: $spacing-unit / 2;
    margin-bottom: $spacing-unit;
    background-color: $code-bg-color;

	img {
		max-width: 200px;
		float: left;
		margin-right: $spacing-unit / 2;
		margin-bottom: $spacing-unit / 2;
        border: 1px solid $grey-color-light;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

        @include media-query($on-palm) {
			float: none;
			margin-bottom: $spacing-unit / 2;
		}
	}

    .post-content p:not(:first-child) {
        overflow: hidden;
    }
}

.archive-notice {
	background-color: $grey-color-dark;
	color: white;
	padding: 7px;

	a:link {
		color: white;
		text-decoration: underline;
	}

	a:visited {
		color: white;
	}
}
